*{
    margin: 0;
    padding: 0;
}

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 97.8vh;
    background-color: #797D62;
}

.textoLogoDos{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Esteban', serif;
    font-size: 65px;
    color: white;
}

.textoLogo{
    margin-top: 5px;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    font-family: 'Esteban', serif;
    font-size: 65px;
    color: white;    
}

.logoLasaña{
    position: relative;
    left: 60px;
    width: 200px;
    height: 170px;
}

.opciones{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.opcionMesero, .opcionChef{ 
    width: 170px;
    height: 50px;
    margin-top: 15vh;
    display: flex;
    font-size: 25px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    background-color: #997B66;
    color: white;
    font-family: 'Piazzolla', serif;
    text-decoration: none;
}

footer{
    background-color: #825F45;
    display: flex;
    justify-content: center;
    font-family: 'Piazzolla', serif;
    font-weight: bolder;
};


