@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-urbanist: 'Urbanist', sans-serif;

  --dark: #21262B;
  --yellow: #FFD658;
  --orange: #FE5F55;
  --green: #5D8584;
  --gray: #F0F0F0;
  --white: #FFFFFF;
  
}

body{
  background-color: var(--dark);
  color: var(--white)
}

/* #root{
  background-color: var(--dark);
} */




